extend layout
block content
  .panel.panel-default
      .panel-heading 
        h3 #{consname}
      .panel-body
        p Rate the following candidates who are standing from #{consname} 
      table.table
        tr
            th 
             b #
            th 
             b Name
            th 
             b Sex
            th 
             b Age
            th 
             b Party
            th 
             b Category
            th
             b Rating 
        tbody
          tr
            td #{numo}
            td #{nameo}
            td #{ageo}
            td #{sexo}
            td #{partyo}
            td #{categoryo}
            td 
             form(name="vote",method="post", action="http://127.0.0.1:1212/vote/"+cido)
              input(type='number',name="rate",class='rating')
          tr
            td #{numt}
            td #{namet}
            td #{aget}
            td #{sext}
            td #{partyt}
            td #{categoryt}
            td 
             form(name="vote",method="post", action="http://127.0.0.1:1212/vote/"+cidt)
              input(type='number',name="rate",class='rating')
          
          tr
            td #{numh}
            td #{nameh}
            td #{ageh}
            td #{sexh}
            td #{partyh}
            td #{categoryh}
            td 
             form(name="vote",method="post", action="http://127.0.0.1:1212/vote/"+cidh)
              input(type='number',name="rate",class='rating')
           