extend layout
block content
  .panel.panel-default
    .panel-heading 
      .panel-body
        p Rate the following candidates who standing from 
      table.table
        thead
          tr
            th #
            th Name
            th Sex
            th Age
            th Party
            th Category
        tbody
          tr
            td #{numo}
            td #{nameo}
            td #{ageo}
            td #{sexo}
            td #{partyo}
            td #{categoryo}
          tr
            td #{numt}
            td #{namet}
            td #{aget}
            td #{sext}
            td #{partyt}
            td #{categoryt}
          tr
            td #{numh}
            td #{nameh}
            td #{ageh}
            td #{sexh}
            td #{partyh}
            td #{categoryh}
      