extend layout
block content
  .panel.panel-default
    .panel-heading #{const}
      .panel-body
        p Rate the following candidates who standing from #{const}
    
      
      table.table
        thead
          tr
            th #
            th Name
            th Sex
            th Age
            th Party
            th Category
        tbody
          tr
            td #{num1}
            td #{name1}
            td #{age1}
            td #{sex1}
            td #{party1}
            td #{category1}
          tr
            td #{num2}
            td #{name2}
            td #{age2}
            td #{sex2}
            td #{party2}
            td #{category2}
          tr
            td #{num3}
            td #{name3}
            td #{age3}
            td #{sex3}
            td #{party3}
            td #{category3}

