extend layout
block content
  .panel.panel-default
    .panel-heading #{state}
      .panel-body
        p Below are a few constituencies which are part of #{state}
      
    
      table.table
        thead
          tr
            td #
            td Name
            td Current MP
            td Current Party
        tbody
          tr
            td #{num}
            td
              a(href='/candidates/'+id) #{name}
            td #{crmp}
            td #{crpr}

