extend layout
block content
  .panel.panel-default
      .panel-heading
        h3 #{state}
      .panel-body
        p Below are a few constituencies which are part of #{state}
      table.table
          thead
           
            th 
              b 
                #
            th 
              b Name
            th 
              b
                Current MP
            th 
              b 
                Current Party
          tbody
           tr
            td #{num}
            td
             a(href= '/candidate/'+consid ) #{name}
            td #{crmp}
            td #{crpr}

