extend layout
block content
  .panel.panel-default
    .panel-heading #{state}
      .panel-body
        p Below are a few constituencies which are part of #{state}
      
     
      table.table
        thead
          tr
            td 
              b 
                #
            td 
              b Name
            td 
              b
                Current MP
            td 
              b 
                Current Party
        tbody
          tr
            td #{num}
            td
             a(href= '/candidate/'+consid) #{name}
            td #{crmp}
            td #{crpr}

