extend layout
block content
   .panel.panel-default
     .panel-heading 
       h3 #{user} 
    .panel-body
         |Name : #{name}
         br
         |Sex : #{sex}
         br
         |Email : #{email}
         br
         |City : #{city}
                
      